.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feed{
    gap: 1rem;
    align-items: stretch;
}

.header{
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    padding: 1rem;
    font-size: 1.5rem;
}

.videos-list{
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
}




.content-container{
    margin-left: 0;
    width: 100%;
    padding-inline: 1rem;
    padding-bottom: 5rem;
}

.content-container-single{
    margin-left: 0;
    width: 100%;
    padding-inline: 1rem;
    padding-bottom: 5rem;
}

.requires-top-padding{
    padding-top: 1rem;
}

.empty-list{
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    margin-top: 8rem;
}

@media(min-width: 50em){
    .content-container{
        margin-left: 26vw;
        max-width: calc(100% - 40vw);
        padding-bottom: 1rem;
    }

    .content-container-single{
        margin-left: 26vw;
        max-width: calc(100% - 55vw);
        padding-bottom: 1rem;
    }
}